# Ad_Analysis

## 1.0 Importing Essential Libraries

In [62]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib as plt

from sklearn.cluster import KMeans

%matplotlib inline

## 2.0 Loading dataset

In [4]:
ad_df = pd.read_csv('ad_table.csv')
ad_df.head()

,date,shown,clicked,converted,avg_cost_per_click,total_revenue,ad
0,10/1/15,65877,2339,43,0.90,641.62,ad_group_1
1,10/2/15,65100,2498,38,0.94,756.37,ad_group_1
2,10/3/15,70658,2313,49,0.86,970.90,ad_group_1
3,10/4/15,69809,2833,51,1.01,907.39,ad_group_1
4,10/5/15,68186,2696,41,1.00,879.45,ad_group_1

## 3.0 Exploring The Data

In [5]:
# Shape of the data
ad_df.shape

(2115, 7)

In [6]:
# information about the dataset
ad_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2115 entries, 0 to 2114
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                2115 non-null   object
 1   shown               2115 non-null   int64
 2   clicked             2115 non-null   int64
 3   converted           2115 non-null   int64
 4   avg_cost_per_click  2115 non-null   float64
 5   total_revenue       2115 non-null   float64
 6   ad                  2115 non-null   object
dtypes: float64(2), int64(3), object(2)
memory usage: 115.8+ KB

In [7]:
# More info about the numerical dataset
ad_df.describe().T

,count,mean,std,min,25%,50%,75%,max
shown,2115.0,68299.844444,48884.821409,0.00,28030.50,54029.0,97314.500,192507.00
clicked,2115.0,3056.077069,3783.579969,0.00,744.00,1392.0,3366.500,20848.00
converted,2115.0,126.453901,233.420826,0.00,18.00,41.0,103.000,1578.00
avg_cost_per_click,2115.0,1.373749,0.754331,0.00,0.76,1.4,1.920,4.19
total_revenue,2115.0,1966.517589,3942.018757,-200.15,235.47,553.3,1611.495,39623.71

In [8]:
# Checking for missing values

# As seen below, the dataset doesnt have any missing values

ad_df.isnull().sum()

date                  0
shown                 0
clicked               0
converted             0
avg_cost_per_click    0
total_revenue         0
ad                    0
dtype: int64

In [19]:
# showing parameters by ad groups

ad_df.groupby('ad').mean()

,shown,clicked,converted,avg_cost_per_click,total_revenue
ad,,,,,
ad_group_1,69345.566038,2705.830189,47.113208,0.971321,743.015849
ad_group_10,117701.365385,1671.115385,19.538462,1.166154,299.612115
ad_group_11,18713.226415,1142.735849,55.377358,1.620566,767.024906
ad_group_12,28624.339623,1710.981132,156.509434,2.009623,2439.359245
ad_group_13,155424.113208,13319.641509,1259.264151,1.674717,19904.943962
ad_group_14,8461.096154,253.211538,20.961538,0.709231,320.639615
ad_group_15,15539.566038,356.566038,16.660377,0.802830,253.585660
ad_group_16,29595.075472,788.000000,69.849057,0.542642,1056.845849
ad_group_17,139477.811321,1228.962264,14.358491,0.396792,189.874717
ad_group_18,89124.346154,8819.634615,616.134615,2.000192,10052.245769
ad_group_19,19138.830189,1801.811321,47.264151,2.214906,717.727358
ad_group_2,51076.981132,1168.150943,117.905660,0.638113,1783.559811
ad_group_20,120639.038462,7374.730769,343.634615,1.792500,5402.474231
ad_group_21,27432.698113,247.245283,12.622642,1.065472,178.322453
ad_group_22,24333.094340,895.547170,41.320755,0.802453,627.441132
ad_group_23,46726.962264,2149.471698,93.396226,1.072830,1347.900189
ad_group_24,36033.500000,352.903846,3.480769,3.183654,53.403654
ad_group_25,170847.773585,611.943396,0.000000,0.703774,0.000000
ad_group_26,72090.660377,6559.283019,328.245283,2.237547,5192.878113
ad_group_27,65808.905660,540.679245,16.679245,0.379057,253.187170
ad_group_28,19886.339623,1770.792453,55.962264,1.970755,864.178868
ad_group_29,20679.433962,1312.754717,19.773585,1.635094,266.922642
ad_group_3,169248.924528,16073.320755,58.301887,2.682264,867.241509
ad_group_30,116388.358491,1273.754717,16.849057,1.094528,266.097170
ad_group_31,130457.132075,679.867925,59.094340,0.147358,860.718113
ad_group_32,38446.622642,3380.754717,26.754717,1.933396,375.154340
ad_group_33,15944.000000,735.226415,25.905660,0.927736,366.206038
ad_group_34,35371.622642,2979.169811,260.320755,1.733208,4019.534340
ad_group_35,60303.396226,860.547170,1.735849,0.354528,24.675094
ad_group_36,67026.547170,554.981132,25.547170,0.750377,379.212642
ad_group_37,72666.811321,5865.188679,312.377358,1.898679,4743.911887
ad_group_38,174986.075472,10948.867925,78.169811,1.394717,1102.008491
ad_group_39,25258.679245,1000.867925,1.264151,1.594340,19.538491
ad_group_4,90548.584906,7504.849057,471.773585,2.449811,7192.851132
ad_group_40,77424.547170,1282.660377,34.830189,0.995472,520.321698
ad_group_5,51417.660377,3280.094340,211.471698,1.989057,3506.778868
ad_group_6,39575.264151,1326.905660,23.094340,1.585094,340.284340
ad_group_7,55782.132075,4869.698113,25.000000,1.812830,410.156604
ad_group_8,43938.396226,2655.490566,75.622642,1.961132,1054.843585
ad_group_9,121083.018868,249.056604,1.000000,0.092642,14.814340

In [29]:
# It is clear from the table below that some ads have converted way better than others

ad_df.groupby('ad').mean()[['converted']]

               converted
ad
ad_group_1     47.113208
ad_group_10    19.538462
ad_group_11    55.377358
ad_group_12   156.509434
ad_group_13  1259.264151
ad_group_14    20.961538
ad_group_15    16.660377
ad_group_16    69.849057
ad_group_17    14.358491
ad_group_18   616.134615
ad_group_19    47.264151
ad_group_2    117.905660
ad_group_20   343.634615
ad_group_21    12.622642
ad_group_22    41.320755
ad_group_23    93.396226
ad_group_24     3.480769
ad_group_25     0.000000
ad_group_26   328.245283
ad_group_27    16.679245
ad_group_28    55.962264
ad_group_29    19.773585
ad_group_3     58.301887
ad_group_30    16.849057
ad_group_31    59.094340
ad_group_32    26.754717
ad_group_33    25.905660
ad_group_34   260.320755
ad_group_35     1.735849
ad_group_36    25.547170
ad_group_37   312.377358
ad_group_38    78.169811
ad_group_39     1.264151
ad_group_4    471.773585
ad_group_40    34.830189
ad_group_5    211.471698
ad_group_6     23.094340
ad_group_7     25.000000
ad_group_8     75.622642
ad_group_9      1.000000

# Challenge Question - 1

      1. If you had to identify the 5 best ad groups, which ones would they be? Which metric did
    you choose to identify the best ad groups? Why? Explain the pros of your metric as well
    as the possible cons.

### Metric Used

    * The best five ad groups can be identified based on various metrics. For this analysis, I believe overall profit from an ad group would be perfect since they are intended to make us profits. 

    * Hence, the profit should be computed as total revenue obtained from the ad subtracted by the total cost the company paid per click

    * Profit = (Total Revenue - (Average cost per click * number of times the ad is clicked))/ Number of times the add is shown

### Pros and Cons

    * Pros 
        - The metric fully considers the money involved (revenue and cost) with each ad 
        - priortize direct purpose of ads - to make profits

    * Cons 
        - The metric doesnt consider conversion rate
        - The metric might be biased towards the amount of time an ad is shown to user and cost

In [49]:
# profit_per_show 

ad_df['profit'] = (ad_df['total_revenue'] - (ad_df['avg_cost_per_click']*ad_df['clicked']))
ad_df.head()

,date,shown,clicked,converted,avg_cost_per_click,total_revenue,ad,profit
0,10/1/15,65877,2339,43,0.90,641.62,ad_group_1,-1463.48
1,10/2/15,65100,2498,38,0.94,756.37,ad_group_1,-1591.75
2,10/3/15,70658,2313,49,0.86,970.90,ad_group_1,-1018.28
3,10/4/15,69809,2833,51,1.01,907.39,ad_group_1,-1953.94
4,10/5/15,68186,2696,41,1.00,879.45,ad_group_1,-1816.55

In [52]:
ad_df.shape

(2115, 8)

In [57]:
# A new dataframe by grouping ads with total profit and number of times they are shown

ad_grouped = ad_df.groupby('ad')['profit', 'shown'].sum()
ad_grouped_df = pd.DataFrame(ad_grouped)
ad_grouped_df

                 profit    shown
ad
ad_group_1   -100802.69  3675315
ad_group_10   -85808.30  6120471
ad_group_11   -65985.38   991801
ad_group_12   -60901.57  1517090
ad_group_13  -182233.01  8237478
ad_group_14     7252.95   439977
ad_group_15    -1888.62   823597
ad_group_16    32179.55  1568539
ad_group_17   -15850.14  7392324
ad_group_18  -400822.23  4634466
ad_group_19  -179941.79  1014358
ad_group_2     54456.44  2707080
ad_group_20  -421822.75  6273230
ad_group_21    -5101.07  1453933
ad_group_22    -5101.02  1289654
ad_group_23   -57301.62  2476529
ad_group_24   -55763.86  1873742
ad_group_25   -23321.96  9054932
ad_group_26  -510406.11  3820805
ad_group_27     2528.73  3487872
ad_group_28  -140146.89  1053976
ad_group_29  -100634.04  1096010
ad_group_3  -2260971.23  8970193
ad_group_30   -59917.28  6168583
ad_group_31    40265.93  6914228
ad_group_32  -332060.59  2037671
ad_group_33   -17241.68   845032
ad_group_34   -63031.31  1874696
ad_group_35   -15035.29  3196080
ad_group_36    -1987.58  3552407
ad_group_37  -343485.18  3851341
ad_group_38  -756588.70  9274262
ad_group_39   -84212.22  1338710
ad_group_4   -643395.85  4799075
ad_group_40   -40464.42  4103501
ad_group_5   -168157.42  2725136
ad_group_6    -93731.40  2097489
ad_group_7   -450554.40  2956453
ad_group_8   -221157.50  2328735
ad_group_9      -441.44  6417400

In [59]:
# Calculating the profit made by each ad per one show

ad_grouped_df['profit_per_view'] = ad_grouped_df['profit']/ad_grouped_df['shown']

# sorting ad groups according to profit per view
ad_grouped_df = ad_grouped_df.sort_values(by='profit_per_view', ascending=False)

ad_grouped_df

                 profit    shown  profit_per_view
ad
ad_group_16    32179.55  1568539         0.020516
ad_group_2     54456.44  2707080         0.020116
ad_group_14     7252.95   439977         0.016485
ad_group_31    40265.93  6914228         0.005824
ad_group_27     2528.73  3487872         0.000725
ad_group_9      -441.44  6417400        -0.000069
ad_group_36    -1987.58  3552407        -0.000560
ad_group_17   -15850.14  7392324        -0.002144
ad_group_15    -1888.62   823597        -0.002293
ad_group_25   -23321.96  9054932        -0.002576
ad_group_21    -5101.07  1453933        -0.003508
ad_group_22    -5101.02  1289654        -0.003955
ad_group_35   -15035.29  3196080        -0.004704
ad_group_30   -59917.28  6168583        -0.009713
ad_group_40   -40464.42  4103501        -0.009861
ad_group_10   -85808.30  6120471        -0.014020
ad_group_33   -17241.68   845032        -0.020404
ad_group_13  -182233.01  8237478        -0.022122
ad_group_23   -57301.62  2476529        -0.023138
ad_group_1   -100802.69  3675315        -0.027427
ad_group_24   -55763.86  1873742        -0.029761
ad_group_34   -63031.31  1874696        -0.033622
ad_group_12   -60901.57  1517090        -0.040144
ad_group_6    -93731.40  2097489        -0.044687
ad_group_5   -168157.42  2725136        -0.061706
ad_group_39   -84212.22  1338710        -0.062905
ad_group_11   -65985.38   991801        -0.066531
ad_group_20  -421822.75  6273230        -0.067242
ad_group_38  -756588.70  9274262        -0.081579
ad_group_18  -400822.23  4634466        -0.086487
ad_group_37  -343485.18  3851341        -0.089186
ad_group_29  -100634.04  1096010        -0.091819
ad_group_8   -221157.50  2328735        -0.094969
ad_group_28  -140146.89  1053976        -0.132970
ad_group_26  -510406.11  3820805        -0.133586
ad_group_4   -643395.85  4799075        -0.134067
ad_group_7   -450554.40  2956453        -0.152397
ad_group_32  -332060.59  2037671        -0.162961
ad_group_19  -179941.79  1014358        -0.177395
ad_group_3  -2260971.23  8970193        -0.252054

In [61]:
# Hence the top five ads based on their profits per one show are as follows
ad_grouped_df[0:5]['profit_per_view']

ad
ad_group_16    0.020516
ad_group_2     0.020116
ad_group_14    0.016485
ad_group_31    0.005824
ad_group_27    0.000725
Name: profit_per_view, dtype: float64

# Challenge Question 2

*     Cluster ads into 3 groups: the ones whose avg_cost_per_click is going up, the ones
        whose avg_cost_per_click is flat and the ones whose avg_cost_per_click is going down.

In [ ]:
# Clustring clicks per cost into three classes of increasing